In [ ]:
! pip install -q kaggle

In [ ]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
!kaggle competitions download -c dphi-amsterdam-airbnb-data

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
airbnb_listing_validate.csv: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
airbnb_listing_train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip /content/airbnb_listing_train.csv.zip

Archive:  /content/airbnb_listing_train.csv.zip
replace airbnb_listing_train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: airbnb_listing_train.csv

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/airbnb_listing_train.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12901 entries, 0 to 12900
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12901 non-null  int64
 1   name                            12879 non-null  object
 2   host_id                         12901 non-null  int64
 3   host_name                       12893 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   12901 non-null  object
 6   latitude                        12901 non-null  float64
 7   longitude                       12901 non-null  float64
 8   room_type                       12901 non-null  object
 9   minimum_nights                  12901 non-null  int64
 10  number_of_reviews               12901 non-null  int64
 11  last_review                     11305 non-null  object
 12  reviews_per_month               11305 non-null  float64
 13  calculated_host_listings_count  12901 non-null  int64
 14  availability_365                12901 non-null  int64
 15  price                           12901 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 1.6+ MB

In [ ]:
df.head()

         id  ... price
0  11602914  ...   220
1  13289321  ...   110
2  40779315  ...   100
3   7820311  ...   130
4  27346603  ...    90

[5 rows x 16 columns]

In [ ]:
df.isnull().sum()

id                                    0
name                                 22
host_id                               0
host_name                             8
neighbourhood_group               12901
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
minimum_nights                        0
number_of_reviews                     0
last_review                        1596
reviews_per_month                  1596
calculated_host_listings_count        0
availability_365                      0
price                                 0
dtype: int64

In [ ]:
df[df['reviews_per_month'].isnull()==True]

             id  ... price
6       1955400  ...   225
13     16565978  ...    20
21     18584642  ...   250
23     41515131  ...    72
34     38538410  ...    90
...         ...  ...   ...
12870  29003215  ...   191
12874  13168032  ...   240
12876  37870419  ...   300
12885  41910871  ...  7000
12894  27569750  ...    50

[1596 rows x 16 columns]

In [ ]:
mean = df['reviews_per_month'].mean()
df['reviews_per_month'].fillna(mean,inplace = True)

In [ ]:
df.drop(columns = ['name','host_name','last_review','neighbourhood_group'],inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12901 entries, 0 to 12900
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              12901 non-null  int64
 1   host_id                         12901 non-null  int64
 2   neighbourhood                   12901 non-null  object
 3   latitude                        12901 non-null  float64
 4   longitude                       12901 non-null  float64
 5   room_type                       12901 non-null  object
 6   minimum_nights                  12901 non-null  int64
 7   number_of_reviews               12901 non-null  int64
 8   reviews_per_month               12901 non-null  float64
 9   calculated_host_listings_count  12901 non-null  int64
 10  availability_365                12901 non-null  int64
 11  price                           12901 non-null  int64
dtypes: float64(3), int64(7), object(2)
memory usage: 1.2+ MB

In [ ]:
df = pd.get_dummies(df,columns = ['room_type'])

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
df['neighbourhood'] = lb.fit_transform(df['neighbourhood'])

In [ ]:
df['host_id'] = df['host_id']/max(df['host_id'])
# df['id'] = df['id']/max(df['id'])

In [ ]:
X = df.drop(columns = ['price'])
y = df.price

print(X.shape,y.shape)

(12901, 14) (12901,)

## **Training**

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import metrics

Splitting data

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state =  42)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(10320, 14) (2581, 14) (10320,) (2581,)

LinearRegression

In [ ]:
model = linear_model.LinearRegression()
model.fit(x_train,y_train)
pred = model.predict(x_test)
print((metrics.mean_squared_error(y_test,pred))**0.5)

218.07484136895755

RandomForestRegressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train,y_train)
pred = model.predict(x_test)
print((metrics.mean_squared_error(y_test,pred))**0.5)

203.46809611887804

ExtraTreesRegressor

In [ ]:
# from sklearn.ensemble import ExtraTreesRegressor
model = ExtraTreesRegressor()
model.fit(x_train,y_train)
pred = model.predict(x_test)
print((metrics.mean_squared_error(y_test,pred))**0.5)

182.520671480113

In [ ]:
test_new = pd.read_csv('/content/airbnb_listing_validate.csv')

In [ ]:
test_new.head()

         id  ... availability_365
0  12297872  ...              267
1   3920205  ...                0
2  26614345  ...                0
3   7433172  ...                0
4  17019744  ...                0

[5 rows x 15 columns]

In [ ]:
test_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6451 entries, 0 to 6450
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6451 non-null   int64
 1   name                            6440 non-null   object
 2   host_id                         6451 non-null   int64
 3   host_name                       6448 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   6451 non-null   object
 6   latitude                        6451 non-null   float64
 7   longitude                       6451 non-null   float64
 8   room_type                       6451 non-null   object
 9   minimum_nights                  6451 non-null   int64
 10  number_of_reviews               6451 non-null   int64
 11  last_review                     5655 non-null   object
 12  reviews_per_month               5655 non-null   float64
 13  calculated_host_listings_count  6451 non-null   int64
 14  availability_365                6451 non-null   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 756.1+ KB

In [ ]:
mean = test_new['reviews_per_month'].mean()
test_new['reviews_per_month'].fillna(mean,inplace = True)
test_new.drop(columns = ['name','host_name','last_review','neighbourhood_group'],inplace = True)

In [ ]:
test_new = pd.get_dummies(test_new,columns = ['room_type'])
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
test_new['neighbourhood'] = lb.fit_transform(test_new['neighbourhood'])

In [ ]:
test_new['host_id'] = test_new['host_id']/max(test_new['host_id'])
ids = test_new['id']
# test_new['id'] = test_new['id']/max(test_new['id'])

In [ ]:
prediction = model.predict(test_new)
predict = []
for i in prediction:
  predict.append(int(i))

In [ ]:
res = pd.DataFrame(predict)
res.index = ids 
res.columns = ["price"]
# To download the csv file locally
from google.colab import files
res.to_csv('prediction_results.csv')

In [ ]:
!kaggle competitions submit -c dphi-amsterdam-airbnb-data -f '/content/prediction_results.csv' -m "Message"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 79.4k/79.4k [00:07<00:00, 10.7kB/s]
403 - Your team has used its submission allowance (20 of 20). This resets at midnight UTC (6.3 hours from now).